*{

    margin: 0px;
    padding: 0px;
}



/* first heading section start */

 h1{
font-size: 50px;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-weight: 500;
text-align: center;
color: yellow;
padding-top: 15px;

}
#div1{
    height: 100px;
    border: 2px solid black;
    background-image: linear-gradient( green,red) ;

}

/* first headind section end */

img{
    float: right;

    

    

    
}
/* body section start */
#p1{
    
    font-size: 20px;
    font-family: fantasy;
    column-count: 2;   
}

#p1::first-letter{
font-size: 55px;
color: darkgreen;
font-family: Georgia, 'Times New Roman', Times, serif;
font-weight: 100;

}

#p2{
 font-size: 25px;
 font-family: fantasy;
 column-count: 4;

} 
/* second heading section start */
#heading2{

    color: green;
}




#div2{
background-image: linear-gradient( red ,yellow);
margin-top: 10px;
border: 2px solid black;

}
/* second heading section end */

#p3{
 
    font-size: 20px;
    font-family: fantasy;
    column-count: 2; 


}

#p3::first-line{
    font-size: 55px;
    color:blue;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 100;
    text-transform: capitalize;
    
    }

    #image2{
 height: 500px;
 width: 500px;
 display: flex;
 padding-left: 10px;
 padding-bottom: 10px;
 padding-top: 10px;

    }
    /* third heading section start */
    #div3{
background-color: darkgoldenrod;
border: 2px solid black;

    }

    #heading3{
        color: blue;
        padding-bottom: 15px;
    }

    /* third heading section end */
    #image3{

display: flex;

    }

    #p4{

        font-size: 15px;
        font-family: fantasy;
    }

    
    /* body section end */

