*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}




header{
    font-family: 'Roboto Condensed', sans-serif;
width: 100vw;
height: 100vh;
background-image: linear-gradient(rgba(10, 10, 10, 0.74),rgba(0,0,0,0.3)), url(images/mayadevi.jpg);
background-repeat: no-repeat;
background-size: 100% 100%;
}

nav{
width: 100%;
height: 15vh;
/* background-color:rgb(72, 141, 126); */
background-image:linear-gradient(black,white);
/* background-color:rgb(162, 162, 247),rgb(62, 62, 153); */

color: white;
display: flex;
justify-content: space-between;
align-items: center;
text-transform: uppercase;



}

nav .logo{

    width: 25%;
    align-items: center;
    font-weight: 900;
    font-size: 30px;
    text-shadow: 5px -5px 3px rgb(62, 62, 153) ;
    padding-left: 10px;
    
    
}



nav .menu{
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav .menu a{
    
text-decoration: none;
font-weight: bold;

}

/* pseudo class */
nav .menu a:first-child{
    color: crimson;
}



.hover:hover{
color: white;
transform: scale(1,1.5);

}

 
#Home{
    
    
    padding-top: 15px;
    width: 100px;
    height: 50px;
    background-color:rgb(162, 162, 247);
    opacity: 0.3;
    text-align: center;
    display: inline-block;
    border: 1px solid black;
    border-radius: 5px;
    



}

    


#Gallery{
    padding-top: 15px;
    width: 100px;
    height: 50px;
    background-color:rgb(162, 162, 247);
    opacity: 0.3;
    text-align: center;
    display: inline-block;
    border: 1px solid black;
    border-radius: 5px;

    


}

#About{

padding-top: 15px;
    width: 100px;
    height: 50px;
    background-color:rgb(162, 162, 247);
    opacity: 0.3;
    text-align: center;
    display: inline-block;
    border: 1px solid black;
    border-radius: 5px;

    

}

#Contact{

    padding-top: 15px;
    width: 100px;
    height: 50px;
    background-color:rgb(162, 162, 247);
    opacity: 0.3;
    text-align: center;
    display: inline-block;
    border: 1px solid black;
    border-radius: 5px;


}

main{
 height: 85%;
 width: 100%;
 display: flex;
 justify-content: center;
 align-items: center;
text-align: center;
color: white;

}


section h3{
font-size: 40px; font-weight: 200;
letter-spacing: 3px;
text-shadow: 1px 1px 2px black;

}
 section h1{
font-size: 60px ;
font-weight: 500px ;
text-shadow: 2px 1px 5px black;
text-transform: uppercase;

 }

 section p{
font-size: 20px;
word-spacing: 2px;
text-shadow: 1px 1px 2px black;



 }
 
 .change_content:after{
     content:'' ;
     animation: changetext 10s infinite linear;
color:yellow;


 }

 

 @keyframes  changetext{
     0%{content: "Lumbini";}
     25%{content:" Butwal";}
     50%{content: "Kathmandu";}
     75%{content: "Pokhara";}
     100%{content: "Manakamana";}



 }

 hr{
     color: black;
 }




